<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static  %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<!--displayed upon successful logging in-->

<body>
    <h1>Success!Welcome,{{request.session.firstname}}{{request.session.lastname}} </h1>
    <p id="success1">successfully logged in!</p>
    <!--#the logout button redirects to the (destroy) route in the urls.py and then induces the (delete) function in the views.py to clear logged user info-->
    <a id="logout" href="/destroy">Log out</a>

</body>

</html>