<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static  %}
    <!--linking the html page to the css page-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<!--displayed upon successful registration-->

<body>
    <h1>Success!Welcome,{{new_user.first_name}}{{new_user.last_name}} </h1>
    <!--displays users first and last name using the request session to save and pass variables to this page-->
    <p id="success2">successfully registered!</p>
    <!--logging out clears session to prevent access without logging in-->
    <a id="logout" href="/destroy">Log out</a>
</body>

</html>